<header>
    <pre>                                                     
        ____  ___   ____   ____     _____ ____   ____ _ _____ ___ 
        /_  / / _ \ / __ \ / __ \   / ___// __ \ / __ `// ___// _ \
         / /_/  __// / / // / / /  (__  )/ /_/ // /_/ // /__ /  __/
        /___/\___//_/ /_//_/ /_/  /____// .___/ \__,_/ \___/ \___/ 
                                       /_/                                            
        </pre>

      <!-- Navigation Menu -->
      <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    
    <p>Welcome to my webspace.</p>
</header>